* {
    box-sizing: border-box;
    
}
@font-face {
	font-family: 'Bebas Neue';
	src: url('BebasNeueRegular.eot');
	src: url('../fonts/BebasNeueRegular.woff') format('woff'),

	font-weight: normal;
	font-style: normal;
}
body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}
.container {
    max-width: 1440px;
    margin: auto;
}
.navbar {
    /* background: #5f5f5f; */
    display: flex;
    align-items: center;
    color: #FFF;
    height: 94px;
    position: fixed;
    z-index: 2;
    width: 100%;
    left: 0;
    top: 0;
    border-bottom: 1px solid rgba(235, 235, 240, 0.2);
    transition: background-color 0.2s;
}
.navbar-light {
    background: #FFF;
    color: #292d33;
}
.navbar-light .header-logo-path {
    fill: #292d33;
}
.header {
    padding-top: 94px;
    min-height: 100vh;
}
.header-image {
    background-image: url('../img/main_img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center buttom -55px;
    position: relative;
}
.header-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(41,45,51,0.75);
    width: 100%;
    height: 100%;
    z-index: 0;
}
.header-logo {
    padding: 25px 50px;
    border-right: 1px solid rgba(235, 235, 240, 0.2);;
    height: 100%;
}
.header-nav {
    
    flex-basis: 100%;
    display: flex;
    list-style: none;
    padding: 0 50px;
    margin: 0;
}
.header-phone {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 50px;
}
.header-phone-link {
    color: inherit;
    text-decoration: none;
}
.header-nav-link {
    color: inherit;
    text-decoration: none;
    font-size: 16px;
    margin-right: 50px;
}
.button {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #FFF;
    background: #3A71D1;
    padding: 25px 60px;
    cursor: pointer;
    border: none;
    
}
.navbar-button {
    flex-shrink: 0;
    height: 100%;
    padding: 25px 50px;
}
.header-button {
    height: 100%;
}
.separator {
    background: #5c8ee6;
    width: 150px;
    height: 2px;
}
.header-content {
    padding-top: 150px;
    color: #FFF;
    position: relative;
    z-index: 1;
}
.header-title {
    max-width: 1080px;
    font-family: "Bebas Neue";
    font-size: 80px;
    line-height: 120%;
    letter-spacing: 0.8px;
    word-spacing: -1.6px;
}
.header-text {
    max-width: 720px;
    margin: 30px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 50px;
}
.header-features {
    display: flex;
    min-height: 168px;
    padding: 0;
    margin-top: 100px;
    list-style: none;
    color: #FFF;
    position: relative;
}
.header-features-item {
    padding: 28px 50px;
    border: 1px solid rgba(235, 235, 240, 0.2);
    width: 288px;
}
.header-features-item:not(:last-child) {
    border-right: none;
}
.header-feature-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 160px;
    margin-bottom: 0;
    margin-top: 18px;
}
.header-button {
    padding: 26px 50px;
}
.section {
    margin-top: 150px;
    margin-bottom: 150px;
}
.section-title {
    font-family: "Bebas Neue";
    font-size: 60px;
    line-height: 120%;
    color: #292d33;
    margin-top: 18px;
    margin-bottom: 10px;
}
.steps {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 30px;
    margin-top: 0;
}
.steps-item {
    max-width: 330px;
}
.steps-num {
    font-family: "Bebas Neue";
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #5c8ee6;
    display: flex;
    align-items: center;
}
.steps-num::after {
    content: "";
    margin-left: 30px;
    height: 1px;
    background: #ebebf0;
    width: 100%;
    display: inline-block;
}
.steps-item {
    font-weight: 400;
    font-size: 28px;
    line-height: 160%;
    color: #292d33;
}
.steps-text {

    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #828a99;
    margin-top: 10px;
    margin-bottom: 20px;
}
.steps-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #5c8EE6;
}
.steps-link:before {
    content: "";
    height: 1px;
    background: #5c8ee6;
    width: 40px;
    margin-right: 20px;
}
.header-steps {
    margin-top: 152px;
}